* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
    background: #2B4CF8;
}

/* Nav elements */
nav {
  display: none;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: 'Josefin Sans', sans-serif;
  background: #F8D72B;
}

.logo {
  padding: 30px 0 15px 5px;
  font-size: 1.5em;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: goldenrod;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 30%;
}

.nav-links li {
  list-style: none;
  margin: 0 10px;
}

.nav-links a {
  color: goldenrod;
  text-decoration: none;
  font-size: 1em;
  letter-spacing: 1px;
}

.nav-links a:hover {
  color: rgba(25, 25, 250, .5);
  font-style: italic;
  text-decoration: none;
}

/* Burger menu */
.burger {
    display: flex;
    flex-flow:column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: white;
    margin: 10px 0 0 10px;
    width: 50px;
}

.burger div {
    width: 25px;
    height: 3px;
    background: #C37B32;
    margin: 1px;
}

#sesame {
    background: #F5C588;
}

#top-bun {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    height: 7px;
}

#cheese {
    background: #F6A807;
    height: 1px;
    width: 30px;
}

#meat {
    background: #775347;
}

#lettuce {
    background: #91D615;
    width: 30px;
    height: 1px;
}

#bottom-bun {
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    height: 4px;
}

/* Animation */
.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
} */


/* Phones */

/* @media only screen and (max-width:600px) {
    body {
        overflow-x: hidden;
        background: purple;
        //doesn't work
    }
    .nav-links {
      position: absolute;
      right: 0px;
      height: 92vh;
      top: 8vh;
      background: lightblue;
      display: flex;
      flex-flow: column;
      align-items: center;
      width: 50%;
      transform: translateX(100%);
      transition: transform .5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
} */
