:root {
    --primary-color: ;
    --secondary-color: ;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


#myBody {
    background: rgb(31, 127, 143);
}


header {
    display: flex;
}

/* burger */
#burger {
    position: relative;
    top: 10px;
    left: 50px;
    cursor: pointer;
    transition: margin-left .5s;
}

#burger .line {
    background: #f1f1f1;
    width: 20px;
    height: 4px;
    margin: 5px;
    border-radius: 2px;
}

#burger:hover {
    opacity: .7;
}

.burger-active {
    margin-left: 200px;
}
/* TODO: get sideNav Transition fixed to smooth: */
/* nav-bar */
.sideNav {
    display: none;
    transition: margin-left 5s ease;
}

.sideNav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    color: #818181;
    transition: 1s;
}

.sideNav a:hover {
    color: #f1f1f1;
}

.active-sideNav {
    display: flex;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: black;
    padding-top: 60px;
}

#main {
    transition: margin-left .5s;
    padding: 20px 55px;
}

#main.active {
    margin-left: 200px;
    filter: blur(1px);
    /* transition-duration: 2s; */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
