:root {
    --primary-color: salmon;
    --secondary-color: tomato;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.my-body {
    background-color: var(--primary-color);
}
/* nav-bar */
.nav-bar {
    position: fixed;
    right: 0;
    height: 100vh;
    width: 20%;
}

.nav-bar ul {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    height: 50vh;
}

.nav-link {
    list-style: none;
}

.nav-link a {
    text-decoration: none;
    padding: 10px;
    color: white;
    transition: all 1s ease-out;
}

.nav-link a:hover {
    background: var(--secondary-color);
    transition: all .5s ease-in;
}

/* main content */
.main {
    width: 50vw;
    height: 70vh;
    margin: 50px 10px 50px 70px;
    text-align: center;
}

.main p {
    margin: 10px;
}

/* footer */
.about-text {
    display: none;

}

.active {
    position: absolute;
    top: 50px;
    display: flex;
    justify-content: center;
    transition: width 5s ease-in .2s;
}

.hidden {
    display: none;
}
